# Node & Build artifacts
node_modules/
.next/
out/
.cache/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env*.local

# Git & IDE
.git/
.gitignore
.vscode/
.idea/
.DS_Store
